canvas {
    border: 1px dotted;
    /*image-rendering: -webkit-optimize-contrast;*/
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

h1 a {
    font-size: small;
}
